.PromptMessage {
  top: 12px;
  left: 12px;
  margin-right: 12px;
  position: fixed;
  display: flex;
  align-items: center;
  border-radius: 3px;
  z-index: 9999;
  padding: 12px 60px 12px 20px;
  box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
  animation: .4s ease-in fadeIn forwards;
  opacity: 0;
}

.PromptMessageError {
  background: #e9546b;
}

.PromptMessageSuccess {
  background: #38b48b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 20px;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
}

.message {

}
