@import './common/text.scss';
@import './common/spacing.scss';
@import './common/breakpoints.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.title {
  font-weight: bold;
  font-size: $text-large;
  margin-bottom: $spacing-small;

  @include small-screen-breakpoint {
    font-size: $text-medium;
  }
}

.dates {
  font-size: $text-base;
  margin-bottom: $spacing-medium;

  @include small-screen-breakpoint {
    font-size: $text-small;
  }
}

.walletAddress {
  display: none;
}

.adovalImg {
  border-radius: 6.7%;
  margin-bottom: $spacing-medium;
}

.actionButton {
  background-color: #ffac1f;
  color: white;
  border: none;
  font-family: 'Poppins';
  font-size: $text-base;
  font-weight: bold;
  padding: 0.7rem 2.625rem;
  border-radius: 15px;
  margin-bottom: $spacing-medium;
  cursor: pointer;

  @include small-screen-breakpoint {
    font-size: $text-small;
  }
}

.actionButton:disabled {
  background-color: #fbd593;
  cursor: wait;
}
