@import '../common/text.scss';
@import '../common/spacing.scss';
@import '../common/breakpoints.scss';

.mintAmount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $spacing-base;
}

.mintAmountButton {
  display: flex;
  align-items:center;
  cursor: pointer;
}

.mintAmountNumber {
  width: 19.8rem;
  font-size: $text-medium;
  font-weight: bold;

  @include small-screen-breakpoint {
    width: 10rem;
  }
}

.disclaimer {
  font-size: $text-small;
  font-style: italic;
}

.notAllowlistedWarning {
  font-size: $text-base;
  background-color: #f89406;
  max-width: 800px;
  padding: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.warnIcon {
  font-size: 36px;
  padding-right: 4px;
}
